$pc: toEm(1200);
$tablet: toEm(992);
$mobile: toEm(768);
$smallMobile: toEm(480);
$mainColor: rgb(55, 57, 63);
$secondaryColor: rgb(255, 255, 255);
$textDarkColor: rgb(125, 125, 125);
$textLightColor: rgb(185, 185, 185);
$textSecondaryColor: rgb(32, 128, 104);
$mainBgColor: rgb(64, 221, 182);
$secondaryBgColor: rgb(107, 119, 229);
$cardsBgColor: rgb(244, 244, 244);
$secondaryCardsBgColor: rgb(196, 196, 196);

$mainFontFamili: "Inter", sans-serif;
$secondFontFamili: "Poppins", sans-serif;
$thirdFontFamili: "Cabin", sans-serif;
$mainFontSize: 18px;
$mainfontWeight: 400;
