// HEADER
/* ! HEADER */

.header {
  width: 100%;
  top: 0;
  left: 0;
  // .header__top

  &__top {
    background: $mainColor;
    padding-top: toRem(19);
    padding-bottom: toRem(19);
  }

  // .header__bottom

  &__bottom {
    background: $secondaryColor;
    padding-top: toRem(33);
    padding-bottom: toRem(33);
    @media (max-width: 991.98px) {
      padding-top: toRem(15);
      padding-bottom: toRem(15);
    }
  }
}
.header--fixed {
  position: fixed;
  z-index: 50;
}
.top-header {
  @media (max-width: 991.98px) {
    display: none;
  }
  // .top-header__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
  }

  // .top-header__content-left

  &__content-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(42);
    row-gap: toRem(12);
  }

  &__location-link,
  &__email-link,
  &__work-time {
    color: $secondaryColor;
    font-size: toRem(14);
    line-height: toRem(17);
    text-align: left;
    align-items: center;
    cursor: pointer;
  }

  // .top-header__location-link

  &__location-link {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(9);
    row-gap: toRem(12);
    transition: all 0.3s;
    & img {
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 15/22;
      object-position: center;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .top-header__email-link

  &__email-link {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(11);
    row-gap: toRem(12);
    transition: all 0.3s;
    & img {
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 20/15;
      object-position: center;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .top-header__content-right

  &__content-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(50);
    row-gap: toRem(20);
  }

  // .top-header__work-time

  &__work-time {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(4);
    row-gap: toRem(12);
    transition: all 0.3s;
    & img {
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 14/14;
      object-position: center;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .top-header__social-links

  &__social-links {
    display: flex;
    @include adaptiveValue("column-gap", 16, 10);
  }
}
.social-links {
  row-gap: toRem(12);
  align-self: center;
  align-items: center;
  color: $secondaryColor;

  // .social-links__link

  &__link {
    width: toRem(19);
    height: toRem(19);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      // aspect-ratio: 17/17;
      // object-position: center;
      transition: all 0.3s;
      @media (any-hover: hover) {
        &:hover {
          background: $mainColor;
          transform: scale(1.3);
          box-shadow: 0px 0px 3px 2px rgb(64, 221, 182);
          border-radius: 5px;
        }
      }
    }
  }
}
.bottom-header {
  // .bottom-header__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
    min-height: toRem(130);
    @media (max-width: 991.98px) {
      min-height: toRem(50);
    }
    @media (max-width: 480px) {
      min-height: toRem(100);
      justify-content: space-around;
      gap: toRem(20);
    }
  }

  // .bottom-header__logo

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(4);
    position: relative;
    z-index: 5;
  }
  // .bottom-header__contant

  &__contant {
    display: flex;
    //  flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(40);
    row-gap: toRem(25);
    @media (max-width: 1100px) {
      column-gap: toRem(20);
    }
  }
}
.logo {
  // .logo__text

  &__text {
    color: $mainColor;
    font-family: $secondFontFamili;
    font-size: toRem(25);
    font-weight: 700;
    line-height: toRem(38);
    text-align: left;
    & span {
      color: $secondaryBgColor;
    }
  }
}

.menu-open .menu,
.menu-open .menu::before {
  left: 0;
}

.menu {
  // Tablet
  @media (max-width: 991.98px) {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all 0.3s;
    background: $cardsBgColor;
    padding: toRem(100) toRem(30) toRem(38) toRem(30);
    &::before {
      content: "";
      position: fixed;
      width: 100%;
      height: toRem(100);
      top: 0;
      left: 100%;
      z-index: 2;
      background: $cardsBgColor;
      transition: all 0.3s;
    }
  }

  @media (max-width: 480px) {
    &::before {
      content: "";
      position: fixed;
      width: 100%;
      height: toRem(150);
      top: 0;
      left: 0;
      z-index: 2;
      background: $cardsBgColor;
    }
  }

  // .menu__list

  &__list {
    flex: 0 1 toRem(601);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: toRem(42);
    row-gap: toRem(15);
    @media (max-width: 1100px) {
      column-gap: toRem(25);
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: flex-end;
      row-gap: toRem(30);
      width: 100%;
    }
    @media (max-width: 480px) {
      align-items: center;
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    color: $mainColor;
    font-family: $mainFontFamili;
    font-size: toRem(18);
    font-weight: $mainfontWeight;
    line-height: toRem(22);
    text-align: center;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 991.98px) {
      font-size: toRem(28);
      line-height: toRem(34);
    }
    @media (max-width: 480px) {
      text-align: center;
    }
  }

  // .menu__item--parent

  &__item--parent {
    position: relative;

    // .menu__link

    & .menu__link {
      display: flex;
      align-items: center;
      gap: 4px;
      display: block;
      &::after {
        content: "";
        background: url("../img/header/arrov.svg") 0 0 no-repeat;
        flex: 0 0 16px;
        height: 8px;
        width: 16px;
        transition: all 0.3s;
        @media (max-width: 991.98px) {
          display: none;
        }
      }
      @media (max-width: 991.98px) {
        text-align: right;
      }
      @media (max-width: 480px) {
        text-align: center;
      }
    }
    @media (any-hover: hover) {
      &:hover .sub-menu {
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
      }
    }
    @media (any-hover: hover) {
      &:hover .menu__link::after {
        transform: rotate(-180deg);
      }
    }
  }

  // .menu__link

  &__link {
  }
}
.sub-menu {
  background: $cardsBgColor;
  position: absolute;
  top: 100%;
  left: -15px;
  padding-top: 5px;
  transform: translate(-10%, 10%) rotate(90deg);

  opacity: 0;
  visibility: hidden;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.3s;
  @media (max-width: 991.98px) {
    //  background: yellow;
    position: relative;
    visibility: visible;
    opacity: 1;
    transform: translate(0%, 0%);
    width: 100%;
    padding-top: 10px;
    left: 0px;
  }

  // .sub-menu__list

  &__list {
    width: 110px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: flex-end;
      row-gap: toRem(30);
      width: 100%;
    }
  }

  // .sub-menu__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .sub-menu__link

  &__link {
    color: $mainColor;
    font-family: $mainFontFamili;
    font-size: toRem(18);
    font-weight: $mainfontWeight;
    line-height: toRem(22);
    text-align: center;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 991.98px) {
      font-size: toRem(28);
    }
  }
}
.actions-header {
  // .actions-header__button

  &__button {
    color: $secondaryColor;
    padding: toRem(21) toRem(35);
    background: $secondaryBgColor;
    color: rgb(255, 255, 255);
    font-family: $thirdFontFamili;
    font-size: toRem(18);
    font-weight: 600;
    line-height: toRem(22);
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(77, 86, 165, 0.8);
        transform: scale(1.08);
        box-shadow: 2px 2px 5px 2px $textDarkColor;
      }
    }
    @media (max-width: 991.98px) {
      font-size: toRem(24);
      padding: toRem(15) toRem(25);
      // white-space: nowrap
    }
    position: relative;
    z-index: 5;
    @media (max-width: 480px) {
      display: none;
    }
  }
}
.button {
}
.icon-menu {
  width: 30px;
  display: none;
  &::before,
  &::after,
  & span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: $mainColor;
    transition: all 0.3s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  & span {
    top: 50%;
    margin-top: -1px;
    & .menu-open {
    }
  }

  @media (max-width: 991.98px) {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
}

.menu-open .icon-menu span {
  transform: scale(0);
}

.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
