/* Підключення вручну */

@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:500,600,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");


@font-face {
	font-family: 'Core Sans C';
	src: url('../fonts/CoreSansC-55Medium.woff2') format('woff2'),
		 url('../fonts/CoreSansC-55Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Core Sans C';
	src: url('../fonts/CoreSansC-65Bold.woff2') format('woff2'),
		 url('../fonts/CoreSansC-65Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Core Sans C';
	src: url('../fonts/CoreSansC-75ExtraBold.woff2') format('woff2'),
		 url('../fonts/CoreSansC-75ExtraBold.woff') format('woff');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Causten';
	src: url('../fonts/Causten-Regular.woff2') format('woff2'),
		 url('../fonts/Causten-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Causten';
	src: url('../fonts/Causten-Medium.woff2') format('woff2'),
		 url('../fonts/Causten-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Causten';
	src: url('../fonts/Causten-SemiBold.woff2') format('woff2'),
		 url('../fonts/Causten-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Causten';
	src: url('../fonts/Causten-Bold.woff2') format('woff2'),
		 url('../fonts/Causten-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

